# Configuration for build_and_push_deploy.sh
# Copy this file to .env and fill in the values

# Azure Container Registry URL (required)
ACR_REGISTRY="your-registry.azurecr.io"

# Image name (optional, default: agent-web)
# IMAGE_NAME="agent-web"

ENVIRONMENT_NAME="sre-agent-aca"

# Azure Resource Group, it's better to align with your private stamp resource group
RESOURCE_GROUP="mltest"

REGION="australiaeast"

ACR="your-acr-name"

PRIVATE_STAMP_ENV_PREFIX="jianbosun"

# Managed Identity for AppConfig connection
MI_RESOURCE_ID="your-mi-resource-id"

# Managed Identity for Container Apps Kusto access for 1p development
MI_KUSTO_CLIENT_ID="5cc4f734-a234-443c-9092-04e06a2b80c2"
MI_KUSTO_RESOURCE_ID="/subscriptions/be8d491e-109c-4ee1-aaee-dc7615af0a42/resourcegroups/ACA1PAgent-rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ACA1PAgent-uami"